<html>
<head>
<script language="javascript1.1">var tgmKey = '{{ tag_publicidade }}';</script>
<script type="text/javascript" language="javascript1.1" src="http://www.terra.com.br/ads/tagman.js"></script>
</head>
<body>
<style>
.ad { background-color: #eeeeee; padding: 10px; margin-bottom: 10px}
</style>
<p>Usando tag: <strong>{{ tag_publicidade }}</strong></p>

<div class="ad">
<h3>top</h3>
<script language="javascript1.1">tgm.ShowArea('top')</script>
</div>

<div class="ad">
<h3>left</h3>
<script language="javascript1.1">tgm.ShowArea('left')</script>
</div>

<div class="ad">
<h3>content</h3>
<script language="javascript1.1">tgm.ShowArea('content')</script>
</div>

<div class="ad">
<h3>right</h3>
<script language="javascript1.1">tgm.ShowArea('right')</script>
</div>

</body>
</html>